* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(15, 123, 138);
    font-size: 2vw;
}

.navbar-nav, .nav-item, .navbarNav {
    background-color: rgb(15, 123, 138);
    padding: 0;
    margin: 0;
    border-color: rgb(15, 123, 138);
}


.bg-light {
    --bs-bg-opacity: 0;
}

body {
    background-color: rgb(19, 15, 54)  ;
}


/* INDEX */
.titulo {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.titulo-index, .subtitulo-index {
    /*font-size: 11vh;*/

}


/* ACERCA DE */

.titulo-pagina {
    text-align: center;
}



.card {
    width: 60rem;
    margin: 8% auto;
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card>img {
    width: 25vw;
    
}

.card-text {
    text-align: justify;
}






/* PORTFOLIO */




/* CONTACTO */



/* FOOTER */
footer {
    background-color: rgb(15, 123, 138);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
