* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #84DCC6;
    --color2: #ffffff;
    --color3: #000000; 
    --color4: #FFA69E;


}


body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/fondo1.jpg) center center / cover no-repeat fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color4);
    font-size: 2vw;
    
}

.navbar-nav, .nav-item, .navbarNav {
    background-color: var(--color4);
    padding: 0;
    margin: 0;
    
    
}


header>.bg-light {
    --bs-bg-opacity: 0;
    
}


/* INDEX */
.titulo {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.titulo-index {
    color: var(--color1);

}

.subtitulo-index {
    color: var(--color4);
}

.titulo-pagina {
    text-align: center;
    color: var(--color1);
}

/* ACERCA DE */

.card {
    width: 60rem;
    margin: 8% auto;
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0.6vw groove var(--color1);
    
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card>img {
    width: 25vw;
    border: 0.35vw groove var(--color1);
    border-radius: 5px;
}

.card-text {
    text-align: justify;
}

.btn {
    background-color: var(--color1);
    border-color: var(--color1);
    color: var(--color3);
    
}

.btn:hover {
    background-color: var(--color4);
    border-color: var(--color4);
    color: var(--color3);
}

/* PORTFOLIO */


.fila {
    height: 45vh;
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
    
}


.proyecto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color1);
}

.proyecto-imagen>img {
    width: 30vw;
    height: 30vh;
}

.proyecto-imagen {
    position: relative;
    
}

.proyecto-img {
    display: block;
    width: 100%;
}

.proyecto-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.proyecto-overlay > * {
    transform: translateY(-20px);
    transition: transform 0.25s;
}

.proyecto-overlay:hover {
    opacity: 1;
}

.proyecto-overlay:hover > * {
    transform: translateY(0);

}


.proyecto-iconos>a {
    font-size: 7.5vw;
    color: var(--color1);
}

.proyecto-iconos>a:hover {
    color: var(--color4);
}


/* CONTACTO */

.contacto {
    height: 65vh;
    display: grid;
    grid-template-columns: repeat(2, calc(100%/2));
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}

.imagen-contacto>img {
    width: 40vw;
    height: 40vh;
    border-radius: 2%;
}

.accordion {
    width: 45vw; 
    --bs-accordion-active-color: var(--color1);
    --bs-accordion-active-bg: var(--color1);

   
}
.accordion-button.collapsed {
    background-color: var(--color1);
}

.accordion-button {
    color: var(--color1);

}


.accordion-body {
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.accordion-body>a {
    color: var(--color1);
}

.accordion-body>a:hover {
    color: var(--color4);
}



/* FOOTER */
footer {
    background-color: var(--color4);
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}
