* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(15, 123, 138);
    font-size: 2vw;
}

.navbar-nav, .nav-item, .navbarNav {
    background-color: rgb(15, 123, 138);
    padding: 0;
    margin: 0;
    border-color: rgb(15, 123, 138);
}


header>.bg-light {
    --bs-bg-opacity: 0;
    /*background-color: rgb(15, 123, 138);*/
}

    

body {
    background-color: rgb(43, 39, 88)  ;
}


/* INDEX */
.titulo {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.titulo-index, .subtitulo-index {
    /*font-size: 11vh;*/

}


/* ACERCA DE */

.titulo-pagina {
    text-align: center;
    color: white;

}

.card {
    width: 60rem;
    margin: 8% auto;
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card>img {
    width: 25vw;
    border: 4px solid rgb(187, 184, 184);
    border-radius: 5px;
}

.card-text {
    text-align: justify;
}

/* PORTFOLIO */

.lista-de-proyectos {

}

.fila {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    align-items: center;
    justify-items: center;
}


.proyecto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyecto>img {
    width: 30vw;
    height: 30vh;
}





.proyecto-imagen {
    position: relative;
    /*width: 100%;*/
}

.proyecto-img {
    display: block;
    width: 100%;
}

.proyecto-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.proyecto-overlay > * {
    transform: translateY(-20px);
    transition: transform 0.25s;
}

.proyecto-overlay:hover {
    opacity: 1;
}

.proyecto-overlay:hover > * {
    transform: translateY(0);

}

.proyecto-iconos {
    font-size: 8vw;
}















/* CONTACTO */






/* FOOTER */
footer {
    background-color: rgb(15, 123, 138);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
